.parent div {
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.parent {
  position: relative;
  box-sizing: border-box;
  height: 300px;
  width: 300px;
  background: #e5f1fb;
  display: flex;
  align-items: center;
  justify-content: center;
}
.parent .circle1 {
  height: 250px;
  width: 250px;
  background: #cde8fe;
}

.parent .circle2 {
  height: 200px;
  width: 200px;
  background: #b9ddfd;
}

.circle3 {
  height: 150px;
  width: 150px;
  background: #a5d1f4;
}

.circle4 {
  height: 100px;
  width: 100px;
  background: #063d7e;
}

.circle5 {
  height: 50px;
  width: 50px;
  background: #bbb;
}

.circle6 {
  height: 25px;
  width: 25px;
  background: #063d7e;
}


.parent .teer {
  z-index: 11;
  position: absolute;
  width: 110px;
  height: 4px;
  background: darkgrey;
  top: 151px;
  left: 154px;
  transform: rotate(30deg);
  transform-origin: top left;
  animation-duration: 0.7s;
  animation-name: example;
  transition: all 100ms ease;
}

@keyframes example {
  from {
    top: 1150px;
    left: 2600px;
    transform: rotate(201deg);
    width: 200px;
  }
  to {
    top: 151px;
    left: 154px;
    transform: rotate(30deg);
    width: 110px;
  }
}
section {
  height: 100%;
  width: 100%;
  background: linear-gradient(#ccc, grey);
  position: relative;
}
.teer-ending1,
.teer-ending2,
.teer-ending3,
.teer-ending4 {
  height: 8px;
  width: 12px;
  position: absolute;
  background: #063d7e;
}


.circle{
  animation-name:example2;
  animation-delay:0.7s;
}

.circle1{
  animation-duration:0.4s;
}
.circle2{
  animation-duration:0.4s;
}
.circle3{
  animation-duration:0.39s;
}
.circle4{
  animation-duration:0.35s;
}
.circle5{
  animation-duration:0.37s;
}
.circle6{
  animation-duration:0.2s;
}
@keyframes example2 {
  0%{
    transform:scale(1)
  }
  50%{
    transform:scale(0.95)
  }
  100%{
    transform:scale(1)
  }
}



.teer-ending1 {
  right: -3px;
  bottom: 5px;
  transform: skew(-40deg);
}
.teer-ending2 {
  right: 12px;
  bottom: 5px;
  transform: skew(-40deg);
}
.teer-ending4 {
  right: -3px;
  top: 5px;
  transform: skew(40deg);
}
.teer-ending3 {
  right: 12px;
  top: 5px;
  transform: skew(40deg);
}

.teer-head1 {
  height: 8px;
  width: 15px;
  position: absolute;
  background: linear-gradient(grey, #bbb);
  bottom: 2px;
  left: 0;
  transform: skew(-50deg);
  /*   border-radius:0 0 0 5px; */
}
.teer-head2 {
  height: 8px;
  width: 15px;
  position: absolute;
  top: 2px;
  left: 0;
  /*   border-radius:0 0 0 5px; */
  background: linear-gradient(#bbb, grey);
  transform: skew(50deg);
}
/* 
.parent:hover .circle1 {
  transform: scale(1.01);
}
.parent:hover .circle2 {
  transform: scale(1.05);
}
.parent:hover .circle3 {
  transform: scale(1.03);
}
.parent:hover .circle4 {
  transform: scale(1.05);
}
 */
